<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about-kayla.html">About Kayla</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="counselingServiceDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Counseling Services
                </a>
                <div class="dropdown-menu" aria-labelledby="counselingServiceDropdown">
                    <a class="dropdown-item" href="trauma.html">Trauma Treatment</a>
                    <a class="dropdown-item" href="depression.html">Depression and Anxiety</a>
                    <a class="dropdown-item" href="adolescents.html">Adolescents in Therapy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="clientResourceDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Client Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="clientResourceDropdown">
                    <a class="dropdown-item" href="faq.html">FAQ</a>
                    <a class="dropdown-item" href="intake.html">Client Portal</a>
                    <a class="dropdown-item" href="insurance.html">Insurance and Rates</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="hours.html">Contact Me<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" target="_blank" href="https://renteriacounseling.blogspot.com/">Blog<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
