---
---
<html lang="en">

<head>
    <link rel="manifest" href="/site.webmanifest">
    <title>Renteria Counseling and Wellness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    {%- include google-analytics.html -%}
    {%- include includes.html -%}

    <meta charset="utf-8">

</head>
<body>
    {%- include header.html -%}
    {%- include dynamic-navbar.html -%}
    {%- include banner.html -%}
    <div id="main">
        {{- content -}}
    </div>

    {%- include footer.html -%}
</body>

</html>
